<nav class="navbar navbar-expand-lg navbar-dark nav-primary">

    <a class="navbar-brand logo" href="http://localhost:3000">
        <h3>Crypto</h3>
    </a>
    <div id="prices"></div>

</nav>

<nav class="navbar navbar-expand-lg navbar-dark nav-secondary">
    <button class="navbar-toggler main-menu-btn" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse main-menu" id="navbarColor02">
        <ul class="navbar-nav mr-auto categories">
            <li class="nav-item active">
                <a class="nav-link mr-3 category" href="/social-media">All</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link mr-3 category" href="/reddit?searchTerm=bitcoin&time=day">Reddit</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link mr-3 category" href="/twitter?searchTerm=bitcoin&time=day">Twitter</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link mr-3 category" href="/youtube">Youtube</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 category" href="/fun">Fun</a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link mr-3 category" href="#">Games</a>
            </li> --}}
        </ul>
    </div>
</nav>